export/
.vscode/
.sourceBackups/
.uncensoredVideos/
.uncensoredCharacters/
.ununcensored Videos/
.ununcensoredCharacters/
assets/exclude/
source/_Backup
source - Copy/
source - PreTempoTween/
art/flashFiles/